body{
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgb(228, 196, 210) 0%, rgba(148,187,233,1) 100%);
  display: flex;
  margin: 0;
  justify-content: center;
  flex-direction: column;
  font-family: Georgia, "Times New Roman", Times, serif;
}

#container{
    margin: 50px;
    align-self: center;
    height: fit-content;
    width: 60vw;
    height: 70vh;
    border-radius: 15px;
}

.pokemon-info {
  display: flex;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  margin: 10px;
  border-radius: 10px;
  transition: 0.5s;

  .inner-text-container {
    display: block;
    margin-top: 2%;
    height: 80%;
    width: 50%;
    padding: 2px 8px;

    #general-info-container{
      border-radius: 5px;
      margin-top: 10%;
      width: 80%;
      padding : 5px;
      background-color: lightgray;
      div{
        margin:5px;
      }
    }

    #stats-container{
      border-radius: 5px;
      margin-top: 10%;
      width: 80%;
      padding : 5px;
      background-color: lightgray;
    }

    #abilities-container{
      border-radius: 5px;
      margin-top: 10%;
      width: 80%;
      padding : 5px;
      background-color: lightgray;
    }

  }

  .pokemon-img-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1%;
    margin-top: 3%;
    float: left;
    width: 20%;
    height: 80%;
    text-align: center;

    .pokemon-img {
      width: 100%;
    }
  }
}